@charset "UTF-8";
.debug {
  border: #008080 solid thin;
}

body {
  background-color: #cccccc;
  font: 95.5%/1.5em "Lato", sans-serif;
  /* margin: 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}
a:visited {
  color: #e66b6b;
}
a:hover {
  color: #cccccc;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

@media only screen and (min-width: 767px) {
  .container {
    left: 50%;
    position: fixed;
    /* position: relative; */
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 98vw;
}

.calendar-container,
.container-nav {
  position: relative;
  /* width: 450px; */
  width: auto;
}

.calendar-container header {
  border-radius: 1em 1em 0 0;
  background-color: #e66b6b;
  color: #fff;
  padding: 3em 2em;
}

.container-nav header {
  border-radius: 1em 1em;
  background-color: #5cc8d7;
  color: #fff;
  padding: 3em;
  margin-bottom: 1em;
}

.day {
  font-size: 5em;
  font-weight: 900;
  line-height: 2;
}

.month {
  font-size: 4em;
  line-height: 1em;
  text-transform: capitalize;
}

.hours {
  font-size: 2em;
  line-height: 1em;
  padding-top: 1em;
}

.calendar {
  background-color: #fff;
  border-radius: 0 0 1em 1em;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
  color: #555;
  display: inline-block;
  padding: 1.9em 0;
  max-width: 98vw;
}

.calendar thead {
  color: #e66b6b;
  font-weight: 700;
  text-transform: uppercase;
}

.calendar td {
  padding: 0.5em 1em;
  text-align: center;
}

@media (max-width: 385px) {
  .calendar td {
    padding: 0.5em 0.7em;
  }
}
.calendar tbody td:hover {
  background-color: #cacaca;
  color: #fff;
}

.current-day {
  color: #e66b6b;
  background-color: #e6e6e6;
  border-radius: 10%;
  font-weight: 900;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
          box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), 0 3px 1px #fff;
}

.current-day:hover {
  color: #5cc8d7 !important;
}

.upcoming-day {
  color: #008080;
}

.prev-month,
.next-month {
  color: #cacaca;
}

.ring-left,
.ring-right {
  position: absolute;
  /* top: 285px; */
  bottom: 17em;
}

.ring-left {
  float: left;
  left: 2em;
}

.ring-right {
  float: right;
  right: 2em;
}

.ring-left:before,
.ring-left:after,
.ring-right:before,
.ring-right:after {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3), 0 -1px 1px rgba(0, 0, 0, 0.2);
  content: "";
  display: inline-block;
  margin: 8px;
  height: 32px;
  width: 8px;
}

.small-text {
  font-size: small;
}

.medium-text {
  font-size: 0.7em;
}

sup {
  font-size: x-large;
}

.past-day {
  font-style: italic;
}

.v:before {
  content: "✓";
  color: #5cc8d7;
}

.x:before {
  content: "✕";
  color: #e66b6b;
}
/*# sourceMappingURL=style.css.map */